#topnav {
    background: #39f;
    #navLeft {
        padding-left: 10px;
    }
    #navRight {
        padding-right: 10px;
    }
    #addButton {
        background: #ffffff;
    }
}

#customerTable {
    button {
        background: #fff;
        padding: 0 15px 5px;
    }
    .width-xs {
        width: 80px;
    }
    td {
        vertical-align: middle;
    }
    .timeMeasurements {
        font-size: x-small;
        color: #666;
        strong {
            margin-right: 5px;
        }
    }
}