<nav class="uk-navbar-container" id="topnav" uk-navbar>
  <div class="uk-navbar-left" id="navLeft">
    <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home">Records</a>
  </div>
  <div class="uk-navbar-right" id="navRight">
    <ul class="uk-navbar-nav">
        <button
          class="uk-button uk-button-default uk-margin-small"
          id="addButton"
          uk-toggle="target: #modal"
          (click)="setContext({}, 'add')">ADD <span uk-icon="icon: plus"></span></button>
    </ul>
</div>
</nav>
<div class="uk-padding">
  <table class="uk-table uk-table-striped uk-table-divider" id="customerTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customers;" id="customer-{{item.id}}`">
        <td>{{item.profile.firstName}}</td>
        <td>{{item.profile.lastName}}</td>
        <td>{{item.profile.email}}</td>
        <td class="timeMeasurements">
          <span><strong>Created:</strong>{{item.createdAt}}</span>
          <br/>
          <span><strong>Updated:</strong>{{item.updatedAt || item.createdAt}}</span>
        </td>
        <td class="width-xs">
          <button
            class="uk-button uk-button-default uk-margin-small"
            type="button"
            uk-toggle="target: #modal"
            (click)="setContext(item, 'update')">
            <span uk-icon="icon: pencil"></span>
          </button>
        </td>
        <td class="width-xs">
          <button
            class="uk-button uk-button-default uk-margin-small-right"
            type="button"
            uk-toggle="target: #modal"
            (click)="setContext(item, 'delete')">
            <span uk-icon="icon: trash"></span>
          </button>
        </td>
        <td class="width-xs">
          <button
            class="uk-button uk-button-default uk-margin-small-right"
            type="button"
            uk-toggle="target: #modal"
            (click)="setContext(item, 'info')">
            <span uk-icon="icon: info"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <ng-container [ngTemplateOutlet]="info" *ngIf="modalContext === 'info'"></ng-container>
      <ng-container [ngTemplateOutlet]="update" *ngIf="modalContext === 'update'"></ng-container>
      <ng-container [ngTemplateOutlet]="delete" *ngIf="modalContext === 'delete'"></ng-container>
      <ng-container [ngTemplateOutlet]="update" *ngIf="modalContext === 'add'"></ng-container>
    </div>
  </div>

  <!-- MODAL TEMPLATES -->
  <ng-template #info>
    <h2 class="uk-modal-title">Customer Info</h2>
    <dl class="uk-description-list">
      <dt>ID:</dt>
      <dd>{{selectedCustomer?.id}}</dd>
      <dt>Name:</dt>
      <dd>{{selectedCustomer?.profile.firstName}} {{selectedCustomer?.profile.lastName}}</dd>
      <dt>Email:</dt>
      <dd>{{selectedCustomer?.profile.email}}</dd>
      <dt>Created At:</dt>
      <dd>{{selectedCustomer?.createdAt}}</dd>
      <dt>Modified At:</dt>
      <dd>{{selectedCustomer?.modifiedAt || selectedCustomer?.createdAt}}</dd>
    </dl>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </p>
  </ng-template>

  <ng-template #form>
    <h2 class="uk-modal-title">Add Customer</h2>
    <form class="uk-grid-small" uk-grid #customerForm>
      <div class="uk-width-1-2@s">
        <label for="fNameField">First Name</label>
        <input 
          class="uk-input"
          type="text"
          placeholder="modalContext === 'update' ? {{selectedCustomer?.profile?.firstName}} : 'First'"
          aria-label="50"
          id="fNameField">
      </div>
      <div class="uk-width-1-2@s">
        <label for="lNameField">Last Name</label>
        <input 
          class="uk-input"
          type="text"
          placeholder="{{selectedCustomer?.profile.lastName}}"
          aria-label="50"
          id="lNameField">
      </div>
      <div class="uk-width-1-1">
        <label for="emailField">Email</label>
        <input 
          class="uk-input"
          type="email"
          placeholder="{{selectedCustomer?.profile.email}}"
          aria-label="50"
          id="emailField">
      </div>
    </form>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="customerForm.reset()">Cancel</button>
      <button class="uk-button uk-button-primary" type="submit">Save</button>
    </p>
  </ng-template>

  <ng-template #update>
    <h2 class="uk-modal-title">{{modalContext === 'update' ? 'Update' : 'Add'}} Customer</h2>

    <form
      class="uk-grid-small"
      uk-grid id="update-form"
      #updateForm = "ngForm"
      (submit)="onClickSubmit(updateForm)">
      <div class="uk-width-1-2@s">
        <label for="fNameField">First Name</label>
        <input 
          class="uk-input"
          type="text"
          placeholder="{{selectedCustomer?.profile?.firstName}}"
          aria-label="50"
          name="firstName"
          id="fNameField"
          ngModel>
      </div>
      <div class="uk-width-1-2@s">
        <label for="lNameField">Last Name</label>
        <input
          class="uk-input"
          type="text"
          placeholder="{{selectedCustomer?.profile?.lastName}}"
          aria-label="50"
          id="lNameField"
          name="lastName"
          ngModel>
      </div>
      <div class="uk-width-1-1">
        <label for="emailField">Email</label>
        <input
          class="uk-input"
          type="email"
          placeholder="{{selectedCustomer?.profile?.email}}"
          aria-label="50"
          name="email"
          id="emailField"
          ngModel>
      </div>
    </form>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="updateForm.reset()">Cancel</button>
      <button class="uk-button uk-button-primary uk-modal-close" type="submit" (click)="onClickSubmit(updateForm)">Save</button>
    </p>
  </ng-template>

  <ng-template #delete>
    <h2 class="uk-modal-title">Delete Customer</h2>
    <p>This action is irreversible, would you like to proceed?</p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-danger uk-modal-close" type="button" (click)="deleteCustomer()">Delete</button>
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </p>
  </ng-template>
</div>